.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 39px;
  margin-top: 150px;
  background-color: #c9d6dd;
  height: 150px;
}
.footerText {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.socialLogos img {
  margin-left: 12px;
  margin-right: 12px;
}
