@media (max-width: 375px) {
  .header {
    width: 375px;
  }
  .appHeader {
    width: 311px;
    flex-wrap: wrap;
  }
  .appParagraph {
    width: 311px;
    flex-wrap: wrap;
  }
  .headerButtons {
    flex-direction: column;
  }
  .downloadButtonIos {
    margin-bottom: 24px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 135px;
}
.appHeader {
  margin-top: 56px;
}
.appParagraph {
  color: #9eabb2;
}
.headerButtons {
  display: flex;
  margin-top: 48px;
}
.downloadButtonIos {
  width: 227px;
  height: 56px;
  background: #26bba4;
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 28px;
  color: white;
  margin-right: 16px;
  border: none;
}
.downloadButtonMac {
  width: 227px;
  height: 56px;
  background: #6174ff;
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
  border-radius: 28px;
  color: white;
  border: none;
}
