.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  background: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  width: 90rem;
  mix-blend-mode: color;
}

@media (max-width: 375px) {
  .container {
    background: url("./images/bg-header-mobile.png");
    background-repeat: no-repeat;
    width: 23rem;
    height: auto;
    mix-blend-mode: color;
  }
}
